* {
    margin: 0.5rem;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(200, 200, 200);
}

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: black;
}

#root {
    display: flex;
    justify-content: center;
}

table, tr, th, td {
    margin: 0;
    padding: 0.5rem 1rem;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-weight: bold;
}

td {
    border: 1px solid #666;
}

tr:nth-child(even) {
    background-color: rgb(24, 24, 24);
}

.item-col {
    width: 40vw;
}

.red {
    color: red;
    font-weight: bold;
}

.normal {
    color: rgb(200, 200, 200);
    font-weight: normal;
}